body{
    background-color: ghostwhite;
}
.text-block-item{
    border: 1px solid;
    width: 21%;
    height: 250px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-2{
    border: 1px solid;
    width: 21%;
    height: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-3{
    border: 1px solid;
    width: 21%;
    height: 400px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-4{
    border: 1px solid;
    width: 21%;
    height: 350px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.clear{
    clear: both;
}
.text-block-item-5{
    border: 1px solid;
    width: 21%;
    height: 250px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-6{
    border: 1px solid;
    width: 21%;
    height: 300px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-7{
    border: 1px solid;
    width: 21%;
    height: 280px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}
.text-block-item-8{
    border: 1px solid;
    width: 21%;
    height: 200px;
    text-align: center;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    font-size: 50px;
}